{{! Maintainers - Kevin Corry, Daryl Hedley, Himanshu Rajotia}}
<div class="tutor" role="region" aria-label="">
    <div class="tutor-content">
        <div class="tutor-inner">
            {{#if feedbackTitle}}
                <div class="tutor-title">
                    <div class="tutor-title-inner accessible-text-block h5" role="heading" aria-level="1" tabindex="0">
                        {{{feedbackTitle}}}
                    </div>
                </div>
            {{/if}}
            <div class="tutor-body">
                <div class="tutor-body-inner">{{{a11y_text feedbackMessage}}}</div>
            </div>
            {{#if _feedback._graphic}}
            <div class="tutor-graphic">
                <img src={{_feedback._graphic.src}} alt="{{_feedback._graphic.alt}}"/>
            </div>
            {{else}}
            {{#if _feedback._media}}
            <div class="tutor-media">
                <video class="media" preload="none" width="640px" height="360px" poster="{{_feedback._media.poster}}" style="width:100%; height:100%;">
                    {{#if _feedback._media.source}}
                        <source src="{{_feedback._media.source}}" type="{{_feedback._media.type}}"/>
                    {{else}}
                        <source src="{{_feedback._media.mp4}}" type="video/mp4"/>
                        <source src="{{_feedback._media.ogv}}" type="video/ogg"/>
                    {{/if}}
                </video>
            </div>
            {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="tutor-toolbar">
        <a href="#" class="tutor-done" role="button" aria-label="">
            <div class="tutor-icon-close icon icon-cross"></div>
        </a>
    </div>
</div>

<div class="tutor-shadow"></div>
